@media screen and (max-width: 600px) {
    
    .showcase {

        nav {
            font-size: 16px;
        }

    }

    .main {
        left: 0;
        
        h1 {
            font-size: 40px;
        }
       
    }

    .clearfix {
        height: 98vh;
    }
}
  